.footer {
  background-color: $header-bg;

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1320px;
    margin: 0 auto;

    @include desc {
      padding: 0 40px;
      justify-content: space-between;
    }

    @include desc {
      flex-direction: row;
    }
  }
}

.footer__menu {
  @include large {
    flex: 1 1 100%;
    margin-left: auto;
    text-align: right;
  }
}


.footer__container {
  justify-content: end;

  @include desc {
    justify-content: start;
  }

}
