.header__weather-api {
  display: none;

  @include descMedium {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .weather-btn {
    text-decoration: none;
    font-size: 12px;
    font-family: $font-paragraph;
    color: $header-primary;

    &:hover {
      color: $secondary;
    }
  }

}


