.header__weather {
  display: none;

  @include descMedium {
    display: flex;
    align-items: center;
  }

  .block--weather-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
    }

    .weather-body {
      color: $header-primary;
      display: flex;
      flex-direction: column;

      &__temp {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}


