.header {
  margin-bottom: 50px;
  background-color: $header-bg;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desc {
    margin-bottom: 30px;
  }

  @include descMedium {
    margin-bottom: 50px;
  }

  @include descLarge {
    margin-bottom: 4em;
  }

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__primary {
    @include medium {
      display: flex;
      flex-flow: row nowrap;
      padding: $space 0;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__branding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include descLarge {
      margin-right: 45px;
      font-size: 45px;
    }

    @include headerMargin {
      margin-right: 30px;
      font-size: 30px;
    }

    font-size: 11px;
    max-width: 190px;
    padding: 1rem 0;
  }

  &__social-menu {
    align-items: center;
    justify-content: center;
    display: none;

    @include medium {
      display: flex;
    }
  }

  &__social-bar {
    align-items: center;
    justify-content: center;
    display: none;

    @include medium {
      display: flex;
    }
  }

  &__social-menu-mobile {
    display: flex;
    height: 72px;

    .social-block {

      &__link {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__social-bar-mobile {
    display: flex;
    height: 72px;

    .social-block {

      &__link {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__search-menu {
    display: none;

    @include medium {
      align-items: center;
      justify-content: center;
      float: right;
      display: flex;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.header__mobile {
  background: unset!important;
}
