html {
  box-sizing: border-box;
}

body {
  background-color: clr(background);
  color: $primary;
  font-family: $font-main;
  font-weight: 300;

  @include body-copy;
}

.scroll-none {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
