
<div class="about-us__wrap">
  <div class="about-us__info">
    <p>
      Newspaper WordPress Theme is your news, entertainment, music fashion website. We provide you with the latest breaking news and videos straight from the entertainment industry.
    </p>

  </div>

  <div class="about-us__contact">
    <p>Contact us:<a href="#" class="orange">contact@yoursite.come</a></p>

  </div>
</div>

