{% set base__class = 'weather-container '%}
{% set fahrenheit = temp ~ '℉' %}
{% set celsius = temp ~ '°C' %}
{% set kelvin = temp ~ 'K' %}

<div {{ bem('block', [base__class]) }}>

  <div {{ bem('weather-image') }}>
    {% include "@atoms/images/image/responsive-image.twig" with {
      image_src: directory ? '/' ~ directory ~ '/assets/images/' ~ weather_text|lower ~ '.svg',
      image_alt: weather_text|lower,
    } %}
  </div>

  <div {{ bem('weather-body') }}>
    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_base_class: 'weather_text',
      paragraph_content: city
    } %}

    <div {{ bem('weather-body__temp') }}>
      {% if units == 'metric' %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_base_class: 'weather_temp',
          paragraph_content: celsius
        } %}
      {% endif %}

      {% if units == 'standart' %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_base_class: 'weather_temp',
          paragraph_content: kelvin
        } %}
      {% endif %}

      {% if units == 'imperial' %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_base_class: 'weather_temp',
          paragraph_content: fahrenheit
        } %}
      {% endif %}
    </div>
  </div>

</div>
