/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin body-copy {
  font-family: $font-main;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($container-max-width) {
    padding-left: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
    padding-right: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
  }
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Custom mixin for font
@mixin set-font(
  $color: $primary,
  $letter-spacing: 1px,
  $line-height: 60px,
  $font-size: 15px,
  $font-family: $font-main,
  $font-weight: 300,
  $opacity: 1,
) {
  color: $color;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  opacity: $opacity;
}

@mixin imageSquareSize(
  $count: 35px,
) {
  height: $count;
  width: $count;
}

@mixin unsetCardAuthor {
  a {
    display: none;
  }

  time::before {
    content: unset;
  }
}

@mixin showCardAuthor {
  a {
    display: flex;
  }

  .link {
    display: none;
  }

  time::before {
    content: ' - ';
  }
}

@mixin flagToTitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.6px;
  padding: 4px 8px;
  background-color: $primary;
  color: $header-primary;
  -webkit-text-fill-color: $header-primary;
  position: relative;
  border-radius: 3px 3px 3px 0;
  top: -30px;
  text-transform: uppercase;

  @include descLarge {
    padding: 8px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.6px;
    border-width: 6px 6px 0 0;
    border-color: $primary transparent transparent transparent;
  }
}

@mixin subtitleLine {
  display: table;
  text-align: center;
  padding: 0;
  font-size: 13px;
  line-height: 1;
  font-style: italic;
  font-family: $font-special;
  font-weight: normal;
  letter-spacing: normal;
  position: relative;
  margin: -7px auto 20px auto;
  text-transform: none;
  max-width: 80%;
  color: $secondary;

  @include desc {
    font-size: 15px;
    margin: -3px auto 20px auto;
  }

  @include descMedium {
    margin: 0 auto 20px auto;
  }

  @include descLarge {
    margin: 10px auto 37px auto;
  }

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 40vw;
    top: 3px;
    bottom: 0;
    background-color: $gray-lightest;
    left: 100%;
    margin: auto 0 auto 10px;
    color: $secondary;
  }

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 40vw;
    top: 3px;
    bottom: 0;
    background-color: $gray-lightest;
    right: 100%;
    margin: auto 10px auto 0;
    color: $secondary;
  }
}
