/* LI */
.main-menu__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include medium {
    display: inline-block;
    border-top: none;

    /* Only top level */
    &:not(.main-menu__item--sub):focus-within,
    &:not(.main-menu__item--sub):hover {
      background-color: clr(accent-high);
      color: clr(highlight-high);

      > .main-menu__link {
        color: clr(highlight);

        &:hover,
        &:focus {
          color: clr(highlight-high);
        }
      }

      & > .main-menu--sub {
        display: block;
      }
    }
  }
}

/* Expand Button */
.expand-sub {
  position: relative;
  display: block;
  width: 20%;
  background-color: clr(accent-high);
  color: clr(text-inverse);
  cursor: pointer;

  @include medium {
    display: none;
  }

  /* Down triangle */
  &::after {
    position: absolute;
    right: 15%;
    top: 68%;
    content: '';
    margin-right: -12px;
    margin-top: -13px;
    width: 0;
    border: solid $header-primary;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

  }

  /* See main-menu.js */
  &--open {
    background-color: clr(accent-high);
    color: clr(muted);

    &::after {
      margin-top: -16px;
      margin-right: -15px;
      border: solid $header-primary;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  @include medium {
    display: block;

    &:not(:first-child) {
      border-top: 1px solid clr(highlight);
    }
  }
}
