.inline-menu {
  @include list-reset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;


  &__link-header {
    font-size: 11px;
    color: $header-primary;
    font-family: $font-main;
    line-height: 40px;
    font-weight: 300;
    padding: 0 9px;
    display: inline-block;
    text-decoration: none;

    @include descMedium {
      font-size: 13px;
    }
  }
}
