<div {{ bem('block', ['frontpage__stay-connected']) }}>

  {% if label %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading__base_class: heading__base_class|default('block--frontpage__stay-connected__heading'),
      heading: label,
      heading_level: 4,
    } %}
  {% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
