.node--full {

  &__container {

    .layout--onecol > .layout__region {
      position: relative;

      .block--news-full__social-share {
        margin: 30px auto 0 auto;
        max-width: 892px;

        @include desc {
          margin: 43px auto 0 auto;
        }
      }
    }

    .field--image {
      position: absolute;
      z-index: 1;
      bottom: unset;

      picture::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }

      img {
        height: 500px;
        object-fit: cover;
        width: 100vw;

        @include descLarge {
          height: 700px;
        }
      }
    }

    .hero_image--container.layout__region {
      height: 500px;
      margin-top: -50px;

      @include desc {
        margin-top: -30px;
      }

      @include descMedium {
        margin-top: -50px;
      }

      @include descLarge {
        height: 700px;
        margin-top: -4em;
      }
    }

    .hero_image--container {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: end;

      @include descLarge {
        height: 700px;
      }
    }

    .block--hero-container {
      position: relative;
      max-width: 90%;
      margin: 0 auto;

      @include descMedium {
        max-width: 80%;
      }

      .block--hero-breadcrumb {
        display: flex;
        z-index: 5;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .category {
          display: inline-flex;
          align-items: center;
          margin-right: 5px;

          a {
            font-size: 12px;
            line-height: 1.2;
            font-family: $font-paragraph;
            color: $header-primary;
            text-decoration: none;
            flex-grow: 0.5;

            @include desc {
              font-size: 11px;
            }

            @include descLarge {
              font-size: 12px;
            }

            &:hover {
              color: $secondary;
            }
          }
        }

        .title {
          display: inline-flex;
          align-items: center;
          margin-right: 5px;

          span {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 1.2;
            font-family: $font-paragraph;
            color: $header-primary;
            flex-grow: 0.5;

            @include desc {
              font-size: 11px;
            }

            @include descLarge {
              font-size: 12px;
            }

            &::before {
              content: ' - ';
              display: block;
              position: relative;
              margin-right: 5px;
              color: $desc;
            }
          }
        }
      }

      .block--hero-main-info {
        display: flex;
        z-index: 5;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .category {

          a {
            font-size: 11px;
            font-family: $font-main;
            color: $header-primary;
            text-decoration: none;
            display: inline-block;
            width: max-content;
            z-index: 5;
            margin: 0 5px 5px 0;
            padding: 5px 6px 3px;
            border-width: 1px;
            border-style: solid;
            border-color: $color-secondary-desc;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;

            @include descLarge {
              font-size: 12px;
            }

            &:hover {
              border-color: $header-primary;
            }
          }
        }

        .title {
          margin-top: 10px;

          span {
            font-size: 26px;
            color: $header-primary;
            line-height: 1.2;
            font-weight: 600;
            display: inline-block;
            position: relative;
            text-align: center;

            @include desc {
              font-size: 32px;
            }

            @include descLarge {
              font-size: 40px;
            }
          }
        }
      }
    }

    .block--hero-news-full__about-author {
      display: flex;
      justify-content: center;
      width: max-content;
      position: relative;
      align-items: center;
      margin: 10px auto 20px auto;
      z-index: 5;

      @include descMedium {
        margin: 15px auto 30px auto;
      }

      .views-row {
        display: flex;
        flex-direction: row;
        color: $header-primary;

        .views-field-user-picture {
          margin-right: 6px;

          img {
            width: 26px;
            height: 26px;
            border-radius: 50%;
          }
        }

        .views-field-name {

          a {
            display: inline-flex;
            color: $header-primary;
            font-family: $font-main;
            font-size: 12px;
            line-height: 30px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-decoration: none;

            @include desc {
              font-size: 11px;
            }

            @include descLarge {
              font-size: 12px;
            }

            &::before {
              content: ' By ';
              display: block;
              position: relative;
              margin-right: 5px;
              color: $header-primary;
              font-weight: 300;
              line-height: 30px;
              font-size: 12px;
            }

            &:hover {
              color: $secondary;
            }
          }
        }

        .views-field-field-created {
          display: inline-flex;

          .field-content {
            display: inherit;
          }

          time {
            color: $header-primary;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            line-height: 30px;
            font-weight: 300;
            letter-spacing: 1px;

            @include desc {
              font-size: 11px;
            }

            @include descLarge {
              font-size: 12px;
            }

            &::before {
              content: ' - ';
              display: block;
              position: relative;
              margin: 0 5px;
              color: $header-primary;
            }
          }
        }

        .views-field-counter {

          .field-content {
            display: inline-flex;
            color: $header-primary;
            font-family: $font-main;
            font-size: 12px;
            line-height: 30px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        .views-field-comment-count {

          .field-content {
            display: inline-flex;
            color: $header-primary;
            font-family: $font-main;
            font-size: 12px;
            line-height: 30px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        .views-field-counter {
          .field-content {
            display: flex;
            position: relative;
            margin: 0 15px;
          }
        }
      }
    }

    .layout--twocol-section--67-33 {

      @include desc {
        flex-wrap: nowrap;
      }

      .layout__region--first {
        flex: 0 0 100%;
        max-width: 100%;

        @include desc {
          flex: 0 1 75%;
        }

        @include descMedium {
          flex: 0 1 66%;
        }

        .block--news-full__social-share {
          padding: 0 20px;
          max-width: 892px;
          margin: 20px 0 0 auto;

          @include desc {
            padding: 0 14px;
            margin: 30px 0 0 auto;
          }

          @include descMedium {
            padding: 0 20px;
          }

          @include descLarge {
            padding: 0 24px;
          }

          .social-share-this {
            justify-content: end;
          }
        }
      }

      .layout__region--second {
        flex: 0 0 100%;
        background-color: $hero-bg;
        max-width: max-content;
        height: max-content;

        @include desc {
          flex: 0 0 25%;
        }

        @include descMedium {
          flex: 0 0 33%;
        }

        .view__category_page .views-row:not(:last-child) .card__news--teaser::before {
          content: '';
          bottom: -15px;
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: $color-underline;
          left: 0;
          height: 1px;
          width: 100%;
          position: absolute;
        }
      }

      .block--sidebar__latest-news, .block--sidebar__must-read {
        margin-top: 40px;
        display: block;
        position: relative;
        vertical-align: baseline;
        padding: 20px 20px 0;

        @include desc {
          margin: 0;
          padding: 10px 14px 0;
          width: 228px;
        }

        @include descMedium {
          width: 364px;
          padding: 20px 20px 0;
        }

        @include descLarge {
          padding: 20px 24px 0 24px;
        }
      }
    }

    .block--you-might__news-full {
      max-width: 1440px;
      width: auto;
      margin-top: 40px;

      @include desc {
        margin: 40px auto 0 auto;
      }

      @include headerMargin {
        padding: 0 20px;
      }

      @include descLarge {
        padding: 0 24px;
      }

      .block--container {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        position: relative;

        &--header {
          display: flex;
          position: relative;
          justify-content: center;
          flex-direction: row;
          margin: 0;

          .header__heading {
            font-size: 26px;
            letter-spacing: -1px;
            padding: 0 2px 0 70px;
            display: inline-block;
            line-height: 1;
            text-align: center;
            margin: 0;

            @include desc {
              font-size: 28px;
            }

            @include headerMargin {
              font-size: 32px;
            }

            @include descLarge {
              font-size: 54px;
            }
          }

          .related {
            @include flagToTitle();
          }
        }

        .recommended {
          @include subtitleLine();
        }
      }

      .view__news_full_view_mode {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .views-row {

        @include desc {
          flex: 0 0 25%;
        }

        .card__news--preview {

          @include desc {
            padding: 0 5%;
            margin-bottom: 10px;
          }
        }
      }

      nav {
        width: 100%;
      }

      .js-pager__items {
        @include list-reset;
        display: flex;
        margin-left: calc(50% - 2.2rem);
        gap: 2.8rem;

        li {
          color: $primary;
          font-size: 24px;

          span {
            position: relative;
          }

          a {
            color: $primary;
            text-decoration: none;
          }

          a:hover {
            color: $secondary;
            cursor: pointer;

            span::after {
              background-color: $secondary;
            }

            span::before {
              background-color: $secondary;
            }
          }
        }

        .prev {

          span::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -6px;
            width: 17px;
            height: 1px;
            background-color: $primary;
            transform: translateY(-50%);
          }

          &--current {
            color: $arrow-secondary;

            span::after {
              background-color: $arrow-secondary;
            }

            &:hover {
              color: $secondary;
              cursor: pointer;

              span::after {
                background-color: $secondary;
              }
            }
          }
        }

        .next {

          span::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -6px;
            width: 17px;
            height: 1px;
            background-color: $primary;
            transform: translateY(-50%);
          }

          &--current {
            color: $arrow-secondary;

            span::before {
              background-color: $arrow-secondary;
            }

            &:hover {
              color: $secondary;
              cursor: pointer;

              span::before {
                background-color: $secondary;
              }
            }
          }
        }
      }
    }

    .entity-pager-list {
      margin: 30px 0 0 auto;

      @include desc {
        margin: 40px 0 0 auto;
      }
    }

    .block--news-full__info-author {
      padding: 0 20px;
      max-width: 892px;
      margin: 30px 0 0 auto;

      @include desc {
        padding: 0 14px;
        margin: 43px 0 0 auto;
      }

      @include descMedium {
        padding: 0 20px;
      }

      @include descLarge {
        padding: 0 24px;
      }
    }
  }
}
