.social-block, {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    margin: -2.5px -5px -2.5px 0;
    img {
      width: 14px;
      height: 14px;
    }
  }
}

.block__social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-bar__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    margin: -2.5px -5px -2.5px 0;

    img {
      width: 14px;
      height: 14px;

      &::marker {
        content: unset;
      }
    }
  }
}

.icon__instagram {
  width: 27px!important;
  height: 27px!important;
}
