html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas,
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  padding: 24px 24px;
}

.container {
  width: 100%;
  max-width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.hidden {
  display: none;
}

.app__footer {
  margin-top: 2rem !important;
  flex-direction: start;
  max-width: calc(1170px + 2rem);
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  border: none;
}
@media (max-width: 1200px) {
  .app__footer {
    max-width: calc(100vw - 2rem);
    padding: 1rem 0.5rem;
  }
}
.app__footer .region-footer {
  display: flex;
  gap: 3rem;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.25;
  font-weight: 600;
  color: #fff;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.region-header {
  font-size: 50px;
}