.card__news--preview__none-date {

  margin-bottom: 40px;

  @include desc {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 36px;
  }

  @include descLarge {
    margin-bottom: 46px;
  }

  &:hover {
    .heading {
      span {
        border-bottom: 1px solid $secondary;
      }
    }

  }
  .card__news--preview__image {
    display: block;
    position: relative;

    @include desc {
      flex: 0 0 40%;
      width: 40%;
      display: block;
      order: 0;
      overflow: hidden;
    }

    a {
      padding-bottom: 50%;

      //@include desc {
      //  padding-bottom: 80%;
      //}
      //
      //@include descMedium {
      //  padding-bottom: 70%;
      //}

      img {
        min-width: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
        height: 100%;

        @include desc {

          position: absolute;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .card__news--preview__content {
    padding: 8px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .category {
      margin: -22px 0 8px 0;
    }

    .heading {
      display: flex;

      span {
        text-align: center;
      }
    }

    .card__news--preview__body {

    }

    .card__news--preview__content--info {

    }

  }
}
