.card__news--preview {
  margin-bottom: 40px;

  @include desc {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 36px;
  }

  @include descLarge {
    margin-bottom: 46px;
  }

  &:hover {
    .heading {
      span {
        border-bottom: 1px solid $secondary;
      }
    }
  }

  &__image {
    display: block;
    position: relative;

    @include desc {
      flex: 0 0 40%;
      width: 40%;
      display: block;
      order: 0;
      overflow: hidden;
    }

     a {
       width: 100%;
       height: auto;
       position: relative;
       display: block;

       @include desc {
         padding-bottom: 80%;
       }

       @include descMedium {
         padding-bottom: 70%;
       }

       img {
         width: 100%;
         height: 100%;

         @include desc {
           position: absolute;
           object-fit: cover;
           object-position: center;
         }
       }
     }
  }

  &__content {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    border-color: #eaeaea;

    .category {
      display: inline-block;
      width: max-content;
      z-index: 5;
      margin: -11px 0 8px 0;
      padding: 5px 6px 3px;
      border-width: 1px;
      border-style: solid;
      border-color: $primary;
      background-color: $header-primary;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include desc {
        padding: 4px 5px 4px;
        font-size: 9px;
        letter-spacing: 2px;
        margin: 0 0 8px 0;
      }

      @include descMedium {
        font-size: 11px;
        padding: 5px 6px 3px;
        letter-spacing: 1px;
      }

      a {
        color: $primary;
        font-size: 11px;
        text-decoration: none;

        @include desc {
          font-size: 9px;
          letter-spacing: 2px;
        }

        @include descMedium {
          font-size: 11px;
          letter-spacing: 1px;
        }
      }
    }

    .heading {
      margin: 0 0 12px;
      font-size: 22px;
      line-height: 1.1;
      font-weight: 600;

      @include desc {
        font-size: 18px;
        margin: 0 0 6px;
      }

      @include headerMargin {
        font-size: 22px;
      }

      @include descLarge {
        font-size: 28px;
      }

      a {
        color: $primary;
        text-decoration: none;
      }
    }

    .card__news--preview__body {
      margin: 0 0 13px;
      column-count: 1;
      column-gap: 48px;
      font-family: $font-paragraph;
      color: $desc;
      font-size: 14px;
      line-height: 1.5;
      overflow-wrap: anywhere;

      @include desc {
        font-size: 11px;
        line-height: 1.4;
        margin: 0 0 6px;
      }

      @include headerMargin {
        font-size: 12px;
      }

      @include descLarge {
        font-size: 14px;
      }
    }

    &--info {
      display: flex;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $font-main;
      gap: 0.4rem;

      @include desc {
        font-size: 11px;
      }

      @include descLarge {
        font-size: 12px;
      }

      .link {
        display: none;
      }

      a {
        color: $primary;
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $font-main;
        text-decoration: none;

        @include desc {
          font-size: 11px;
        }

        @include descLarge {
          font-size: 12px;
        }
      }

      time {
        color: $desc;
        display: flex;
        flex-direction: row;

        &::before {
          content: ' - ';
          display: block;
          position: relative;
          margin-right: 5px;
          color: $desc;
        }
      }
    }
  }
}
