.region-about {
  display: grid;
  border-top: 1px solid silver;
  max-width: calc($container-max + 2rem);
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
  height: auto;

  .block-system-branding-block {

    display: flex;
    height: auto;
    align-items: center;


    .site-branding__container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }

    a {
      img {
        width: 45px;
        height: 45px;
      }
    }

    .site-branding__inner-name {
      a {
        font-size: 30px;
      }
    }

    .site-branding__inner-slogan {
      font-size: 10px;
    }
  }

  .block-about-us {
    h2 {
      font-size: 28px;
    }
    .about-us {

      &__info {
        p {
          font-size: 14px;
        }
      }

      &__contact {
        font-size: 14px;
      }

    }
  }

  .block-block-content {
    h2 {
      font-size: 28px;
      margin-bottom: 26px;
    }

    .block_content-basic-full {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    p {
      font-size: 14px;
      color: $color666;
      a {
        font-size: 14px;
        color: $color-second;
      }
    }
  }

  .block-menu-social-media-black-bar {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 28px;
      margin-bottom: 26px;
    }

    .social-bar-black__menu {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      li {
        @include resetLi;
        a {
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
