{% set content_bottom__base_class = 'content-bottom' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}


<div {{ bem(content_bottom__base_class) }}>
  <div {{ bem('inner', [], content_bottom__base_class) }}>
    <div {{ bem('primary', [], content_bottom__base_class) }}>
      {% block content_bottom %}

      {% endblock %}
    </div>
  </div>
</div>
