{#
 # Available variables:
 # - sitename__url
 # - sitename__content
 # - sitename__slogan
 # - output_image_tag: Whether or not to output an <img> tag instead of a <picture> tag.
 # - image_src: path to image file
 # - image_alt: alt text on image
#}

{% set sitename__base_class = sitename__base_class|default('sitename') %}

{% set slogan__base_class = slogan__base_class|default('sitename__slogan') %}

{% set sitename__attributes = {
  class: bem(sitename__base_class, sitename__modifiers, sitename__blockname),
} %}

{% set slogan_attributes = {
  class: bem(slogan__base_class, slogan_modifiers, slogan__blockname),
} %}


<div {{ add_attributes(sitename__attributes) }}>
 {% include "@atoms/links/link/link.twig" with {
   "link_content": sitename_content,
   "link_url": sitename_url,
   "link_attributes": sitename__attributes,
   "link_base_class": sitename__base_class ~ '--link',
   "link_blockname": sitename_link_blockname|default(sitename_base_class),
 } %}

  {% if sitename_slogan %}
    {% include "@atoms/links/link/link.twig" with {
      "link_content": sitename_slogan,
      "link_url": sitename_url,
      "link_attributes": slogan_attributes,
      "link_base_class": slogan__base_class ~ '--link',
      "link_blockname": sitename_link_blockname|default(slogan_base_class),
    } %}
  {% endif %}

</div>

{#<div {{ add_attributes(sitename__attributes) }}>#}
{#  {% embed "@atoms/links/link/link.twig" with {#}
{#    link_base_class: 'sitename__link',#}
{#    link_url: sitename__url|default('/'),#}
{#  } %}#}
{#    {% block link_content %}#}
{#      {% include "@atoms/images/image/responsive-image.twig" with {#}
{#        output_image_tag: true,#}
{#        image_src: directory ? '/' ~ directory ~ '/assets/images/logo.svg' : 'logo.svg',#}
{#        image_alt: 'Logo',#}
{#        responsive_image_blockname: 'logo',#}
{#      } %}#}
{#    {% endblock %}#}
{#  {% endembed %}#}
{#</div>#}
