.logo {
  display: flex;
  width: auto;

  &__link {
    width: 28px;
    height: 28px;

    @include desc1120 {
      width: 45px;
      height: 45px;
    }

  }
}

.logo--header {
  max-width: 20rem;
}

.logo--footer {
  max-width: 10rem;
}
