{% set about_us__base_class = 'about-us' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}


<div {{ bem(about_us__base_class) }}>
  <div {{ bem('inner', [], about_us__base_class) }}>
    <div {{ bem('primary', [], about_us__base_class) }}>
      {% block about_us %}


      <div {{ bem('branding', [], header__base_class) }}>
        {% block header__branding %}
          {% include "@organisms/site/site-header/_site-content-bottom.twig" %}

        {% endblock %}
      </div>


      {% endblock %}
    </div>


  </div>
</div>
