.main {

  .node {

    .bartlett {

      @include descLarge {
        padding: 0 24px;
      }

      max-width: 1240px;
      width: auto;
      display: flex;
      flex-direction: column;

      @include desc {
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
      }

      .container-fluid > :first-child {
        display: flex;
        flex-direction: column;
        margin: 0;

        @include desc {
          flex-direction: row;
        }
      }

      .radix-layouts-sidebar {
        padding: 0 20px;

        @include desc {
          flex: 0 0 25%;
        }

        .block--frontpage__latest-news {

          &__heading {
            @include headingSidebarBlock;
          }

          .view__front_page {
            position: relative;

            .card__news--teaser {
              margin-bottom: 15px;

              @include desc {
                margin-bottom: 10px;
              }
            }
          }

          .view__front_page .views-row:not(:last-child) .card__news--teaser::before {
            content: '';
            bottom: -15px;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: $color-underline;
            left: 0;
            height: 1px;
            width: 100%;
            position: absolute;
          }

          .views-row {
            padding-top: 15px;

            @include desc {
              padding-top: 10px;
            }
          }

          .views-row-1 {
            padding-top: 0;
          }
        }
      }

      .col-lg-8.panel-panel {
        padding: 0;
        width: 100%;

        .row {
          margin: 0;
          padding: 0;

          @include desc {
            display: flex;
            flex-wrap: wrap;
          };
        }

        .radix-layouts-contentheader {
           padding: 0;

          .block--frontpage__main-content {

            @include desc {
              padding: 0 12px;
            }

            .view__front_page {

              @include desc {
                display: grid;
                gap: 20px;
                grid-template-columns: 2.1fr 1fr;
              }

              @include descMedium {
                gap: 40px;
              }

              .views-element-container {

                .view__front_page {
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }

          .block--frontpage__featured {

            @include desc {
              display: flex;
              flex-direction: row;
            }

            &--heading {
              padding: 0 20px;

              @include desc {
                display: flex;
                flex: 0 0 25%;
                flex-direction: column;
              }

              .frontpage__featured--heading {
                margin: 0;
                padding: 0;
                font-size: 28px;
                font-weight: 800;
                letter-spacing: 1px;

                @include desc {
                  font-size: 20px;
                }

                @include descMedium {
                  font-size: 23px;
                }

                @include descLarge {
                  font-size: 28px;
                }

              }

              .subtitle {
                margin: 0 0 7px 0;
                padding: 0;
                font-family: $font-paragraph;
                font-size: 14px;
                line-height: 1.5;
                color: $color-secondary-desc;

                @include desc {
                  font-size: 11px;
                }

                @include descMedium {
                  font-size: 12px;
                }

                @include descLarge {
                  font-size: 14px;
                }
              }

              .all-articles {
                display: none;

                &:after {
                  content: '>';
                  margin-left: 5px;
                  speak: none;
                  font-style: normal;
                  font-weight: bold;
                  font-variant: normal;
                  text-transform: none;
                  font-size: 12px;
                  color: $primary;
                  letter-spacing: 0;
                  line-height: 1;
                  text-align: center;
                  -webkit-font-smoothing: antialiased;

                  @include descLarge {
                    padding-top: 2px;
                  }
                }

                &:hover {
                  color: $secondary;

                  &:after {
                    color: $secondary;
                  }
                }

                @include desc {
                  display: flex;
                  color: $primary;
                  text-decoration: none;
                  margin-top: 7px;
                  font-size: 11px;
                  letter-spacing: 0;
                  font-family: $font-main;
                  line-height: initial;
                  font-weight: 500;
                  position: relative;
                  text-transform: uppercase;
                }

                @include descLarge {
                  font-size: 13px;
                }

              }
            }

            .card__news--fashion-with-image {

              @include desc {
                margin-bottom: 0;
              }
            }

            .view__front_page {

              @include desc {
                display: flex;
                flex-flow: wrap;
              }
            }

            .views-row {
              flex: 0 0 33.33%;

              @include desc {
                padding: 0 5px;
              }
            }

            nav {
              width: 100%;
              margin-left: 0.7rem;

              .js-pager__items {
                @include list-reset;
                display: flex;
                gap: 2.5rem;
                margin: -35px 0 0 20px;

                @include desc {
                  margin: 10px 0 0 0;
                  gap: 1.8rem;
                }

                li {
                  color: $primary;
                  font-size: 24px;

                  span {
                    position: relative;
                  }

                  a {
                    color: $primary;
                    text-decoration: none;
                  }

                  a:hover {
                    color: $secondary;
                    cursor: pointer;

                    span::after {
                      background-color: $secondary;
                    }

                    span::before {
                      background-color: $secondary;
                    }

                  }
                }

                .prev {

                  span::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -6px;
                    width: 17px;
                    height: 1px;
                    background-color: $primary;
                    transform: translateY(-50%);
                  }

                  &--current {
                    color: $arrow-secondary;

                    span::after {
                      background-color: $arrow-secondary;
                    }

                    &:hover {
                      color: $secondary;
                      cursor: pointer;

                      span::after {
                        background-color: $secondary;
                      }
                    }
                  }
                }

                .next {

                  span::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -6px;
                    width: 17px;
                    height: 1px;
                    background-color: $primary;
                    transform: translateY(-50%);
                  }

                  &--current {
                    color: $arrow-secondary;

                    span::before {
                      background-color: $arrow-secondary;
                    }

                    &:hover {
                      color: $secondary;
                      cursor: pointer;

                      span::before {
                        background-color: $secondary;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .radix-layouts-contentcolumn1 {
        margin: 0;
        padding: 0;

        @include desc {
          width: 70%;
        }

        @include descMedium {
          width: 60%;
        }

        .block--frontpage__fashion {
          padding: 0 20px;

          &--heading {
            @include headingFrontPageSecond();
          }

          .view__front_page {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            @include desc {
              grid-template-columns: repeat(2, 1fr);
              gap: 12px;
            }

            @include descMedium {
              gap: 18px;
            }

            @include descLarge {
              gap: 24px;
            }
          }
        }

        .block--frontpage__technology {
          padding: 0 20px;

          &--heading {
            @include headingFrontPageSecond();
          }

          .view__front_page {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @include desc {
              gap: 20px;
            }

            @include descLarge {
              gap: 25px;
            }
          }
        }

        .block--frontpage__celebrities {
          margin-top: 40px;

          @include desc {
            padding: 0 20px;
          }

          &__heading {
            @include headingFrontPageSecond();
            padding: 0 20px;

            @include desc {
              padding: 0;
            }
          }

          .views-element-container {

            .view__front_page {

              @include desc {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 12px;
              }

              @include descMedium {
                gap: 16px;
              }

              @include descLarge {
                gap: 30px;
              }

              .card__news--preview__body {

                @include descMedium {
                  display: none;
                }

                @include descLarge {
                  display: unset;
                }
              }
            }
          }
        }
      }

      .radix-layouts-contentcolumn2 {
        margin: 0;
        padding: 0;

        @include desc {
          width: 30%;
        }

        @include descMedium {
          width: 40%;
        }

        .block--frontpage__stay-connected {
          padding: 0 20px;

          @include desc {
            padding: 0 12px;
          }

          &__heading {
            @include headingFrontPageSecond();
          }

          .view__front_page {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
        }


        .block--frontpage__tv, .block--frontpage__food-drink {
          padding: 0 20px;
          margin-top: 40px;

          @include desc {
            padding: 0 12px;
          }

          &--heading {
            @include headingFrontPageSecond();
          }
        }
      }
    }
  }
}
