.main {

  .view__taxonomy_term {

    .layout {

      &--twocol-section {

        &--67-33 {
          display: flex;
          flex-direction: column;
          max-width: 1240px;
          width: auto;
          margin: 0 auto;
          padding: 35px 24px 65px;

          @include desc {
            flex-direction: row;
          }

          .layout__region--first {
            display: flex;
            width: 100%;
            position: relative;
            min-height: 1px;
            float: left;

            @include desc {
              width: calc(100% - 248px);
            }

            @include descMedium {
              width: calc(100% - 364px);
            }

            .views-exposed-form {

              label {
                margin: 0 0 12px;
                font-size: 22px;
                line-height: 1.1;
                font-weight: 600;

                @include desc {
                  font-size: 18px;
                  margin: 0 0 6px;
                }

                @include headerMargin {
                  font-size: 22px;
                }

                @include descLarge {
                  font-size: 28px;
                }
              }

              .form-select {

                ul {
                  padding-top: 5px;
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  gap: 0.3rem;

                  li {
                    @include list-reset;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    z-index: 5;
                    padding: 5px 6px 3px;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    @include desc {
                      padding: 4px 5px 4px;
                      font-size: 9px;
                      letter-spacing: 2px;
                    }

                    @include descMedium {
                      font-size: 11px;
                      padding: 5px 6px 3px;
                      letter-spacing: 1px;
                    }

                    a {
                      color: $primary;
                      font-size: 11px;
                      text-decoration: none;

                      @include desc {
                        font-size: 9px;
                        letter-spacing: 2px;
                      }

                      @include descMedium {
                        font-size: 11px;
                        letter-spacing: 1px;
                      }
                    }
                  }
                }
              }

              .form-actions {
                display: none;
              }
            }


            .js-pager__items {
              position: relative;
              margin: 54px 0 0;
              display: flex;
              flex-direction: row;
              width: auto;
              font-family: $font-special;
              font-size: 12px;
              font-weight: 500;

              .pager-item {
                padding: 5px 11px;
                border: 1px solid #fff;
                display: inline-block;
                margin: 0 8px 8px 0;
                min-width: 33px;
                text-align: center;
                line-height: 21px;
                float: left;
                text-decoration: none;
                color: $primary;

                &:hover {
                  border: 1px solid $primary;
                }

                &--current {
                  border: 1px solid $primary;
                }

                &--icon {
                  position: relative;

                  span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: inline-block;
                    font-size: 23px;
                    bottom: -35%;
                  }
                }
              }
            }

          }

          .layout__region--second {
            display: flex;
            flex-direction: column;
            min-height: 1px;
            float: none;
            padding: 30px 20px;
            width: 100%;
            vertical-align: baseline;
            background-color: #f9f9f9;

            @include desc {
              padding: 10px 24px 0;
              max-width: 248px;
              float: right;
              margin-left: auto;
            }

            @include descMedium {
              max-width: 364px;
              padding: 20px 32px 0;
            }

            @include xl {
              margin-left: 0;
            }

            .block--sidebar__latest-news {

              &__heading {
                font-size: 28px;
                font-family: $font-main;
                font-weight: 800;
                line-height: 31px;
                margin-bottom: 16px;
                margin-top: 0;

                @include desc {
                  font-size: 20px;
                  letter-spacing: 0;
                }

                @include headerMargin {
                  font-size: 23px;
                }

                @include descLarge {
                  font-size: 28px;
                  letter-spacing: 1px;
                }
              }
            }

            .block--sidebar__must-read {
              margin-top: 1.7rem;

              &__heading {
                font-size: 28px;
                font-family: $font-main;
                font-weight: 800;
                line-height: 31px;
                margin-bottom: 16px;
                margin-top: 0;

                @include desc {
                  font-size: 20px;
                  letter-spacing: 0;
                }

                @include headerMargin {
                  font-size: 23px;
                }

                @include descLarge {
                  font-size: 28px;
                  letter-spacing: 1px;
                }
              }
            }

            .view__category_page {
              position: relative;
            }

            .view__category_page .views-row:not(:last-child) .card__news--teaser::before {
              content: '';
              bottom: -15px;
              border-width: 0 0 1px 0;
              border-style: solid;
              border-color: #eaeaea;
              left: 0;
              height: 1px;
              width: 100%;
              position: absolute;
            }
          }
        }
      }

      .block--you-might {

        &__container {
          display: flex;
          flex-direction: column;
          margin: 0 15px;
          position: relative;

          &--header {
            display: flex;
            position: relative;
            justify-content: center;
            flex-direction: row;
            margin: 0;

            &__heading {
              font-size: 26px;
              letter-spacing: -1px;
              padding: 0 2px 0 80px;
              display: inline-block;
              line-height: 1;
              text-align: center;
              margin: 0;
            }

            .related {
              font-size: 12px;
              font-weight: 600;
              line-height: 1;
              letter-spacing: -0.6px;
              padding: 4px 8px;
              background-color: $primary;
              color: $header-primary;
              -webkit-text-fill-color: $header-primary;
              position: relative;
              border-radius: 3px 3px 3px 0;
              top: -30px;
              text-transform: uppercase;

              &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                font-size: 12px;
                font-weight: 600;
                line-height: 1;
                letter-spacing: -0.6px;
                border-width: 6px 6px 0 0;
                border-color: $primary transparent transparent transparent;
              }
            }
          }
        }


        .recommended {
          display: table;
          text-align: center;
          padding: 0;
          font-size: 13px;
          line-height: 1;
          font-style: italic;
          font-weight: normal;
          letter-spacing: normal;
          position: relative;
          margin: -15px auto 15px auto;
          text-transform: none;
          max-width: 80%;
          color: #f5b000;

          &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 40vw;
            top: 3px;
            bottom: 0;
            background-color: #e3e3e3;
            left: 100%;
            margin: auto 0 auto 10px;
            color: #f5b000;
          }

          &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 40vw;
            top: 3px;
            bottom: 0;
            background-color: #e3e3e3;
            right: 100%;
            margin: auto 0 auto 10px;
            color: #f5b000;

          }
        }

        .view__you_might_also_like {

          @include desc {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
          }

          .views-row:nth-child(2) {

            .card__news--preview__image a{
               @include desc {
                 padding-bottom: 66%;
               }
            }

            .heading {
              @include desc {
                font-size: 20px;
              }
            }
          }
        }



      }

    }
  }
}
