.region-footer {


  background: $color-header-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    &--footer {
      width: 100%;
    }

    li {

      @include resetLi;
      a {
        font-size: 13px;
        color: $color-white;

        &:hover {
          color: $color-second;
        }
      }
    }
  }

  .bottom-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .bottom-footer__copyright {
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 13px;



    a {
      display: flex;
      align-items: center;
      margin: 0 3px;
      height: 100%;
      font-size: 13px
    }
  }

}
